.fa:hover {
    opacity: 0.7;
}

.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

 
  .fa-instagram {
    color: rgb(49, 37, 181);
  }

  .fa-twitter {
    color: #74bcf3;
  }
  .fa-linkedin {
    color: #5cbfed;
  }
  .fa-facebook {
    color: #668ce0;
  }

a:hover{
    background-color:#E7DFD5;
    color: white;
    
}

.text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    top: 40%; 
    background: #04293a8e;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    width: 50%; 
}


.imgalign{
  position: relative;
  margin: 0 auto;
  left: 350px;
  right: 0;        
  top: 35%; 
}


.bgColor{
  background-color: #04293A;
}

.fontP{
  font-family: 'Alegreya Sans', sans-serif;
  color: #04293A;
}
.fontH{
  color: #ECB365;
  font-family: 'Exo 2', sans-serif;
}

.shadowbox{
  -webkit-box-shadow: 29px 24px 11px -15px rgba(4,28,50,1);
  -moz-box-shadow: 29px 24px 11px -15px rgba(4,28,50,1);
  box-shadow: 29px 24px 11px -15px rgba(4,28,50,1);
}

.formColor{
  background-color: #04293A;
  color: #ECB365;
}

.cardColor{
  background-color:#04293A;
  color:#ECB365;
  font-family: ';Alegreya Sans', sans-serif;
}
.buttonColor{
  background-color: #E7DFD5;
  color: #04293A;
}
.buttonColor2{
  background-color: #04293A;
  color: #ECB365;
  margin-bottom: 3%;
  margin-top: 3%;
}

.links{
   text-decoration: none;
   font-family: ';Alegreya Sans', sans-serif;
   color: #04293A;
   margin: 2%;
}